/*MOBILE FIRST DISPLAY*/

html{
	font-size: 18px;
	font-family: 'Work Sans', sans-serif;
}

body {
	font-size: 1rem;
}

main {
	width: 100%;
	margin: 0 auto;
}

html, body {
	margin: 0;
	padding: 0;
}

h1, h2, p{
	margin-left: 5px;
}


.collapsible .navActive {
	background-color: #0B0;
}

/*NAVIGATION SECTION FOR MOBILE*/

.collapsible {
	display: block;
	background-color: #333;
	overflow: hidden;
}

.collapsible a {
	display: inline-block;
	float: none;
	list-style-type: none;
	background-color: #333;
	color: #FFF;
	padding: 8px 16px;
	text-align: center;
	text-decoration: none;
}

.collapsible a:not(:first-child) {display: none;}

.collapsible a.burger_icon {
	float: right;
	display: block;
}

  .collapsible.responsive {position: relative;}
  .collapsible.responsive .burger_icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .collapsible.responsive a {
    display: block;
  }

nav a:hover {
	background-color: #555;
}

/*NAVIGATION SECTION FOR MOBILE END*/

.gallery {
	display: inline-block;
	margin: 0 auto;
}

.gal_div {
	display: inline-block;
	padding: 5px;
}

.gal_img {
	display: block;
	border: 2px solid #000;
	padding: 5px;
	width: 95%;
	margin: 0 auto;
	margin-bottom: 2px;
	opacity: 1;
	-webkit-transition: border-radius 0.2s, opacity 0.2s;
	transition: border-radius 0.2s, opacity 0.2s;
}

.gal_img:hover {
	border-radius: 10px;
	opacity: 0.5;
}

.gal_img:onclick {
	border-radius: 10px;
	opacity: 0.5;
}

footer {
	background-color: #333;
	width: 100%;
   	left: 0;
   	bottom: 0;
}

footer div {
	display: table;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: .7rem;
    color: #fff;
}

footer li {
	list-style-type: none;
}

.right_imgs {
	display: block;
	width: 95%;
	margin: 0 auto;
}

.left_imgs {
	display: block;
	width: 95%;
	margin: 0 auto;
}

.story_divs {
	border: 2px solid #000;
	padding: 5px;
	margin: 2px;
}

table {
	border: 1px solid #FFFFFF;
	width: 90%;
	-webkit-border-radius: 10px 10px 10px 10px;
	border-radius: 10px 10px 10px 10px;
	margin: 0 auto;
}

table th {
	border-bottom: solid 3px #666;
}

table th:first-child {
	text-align: left;
	padding-left: 10px;	
}

table td:first-child {
	text-align: left;
	padding-left: 10px;	
}

table td:not(:first-child), th:not(:first-child) {
	text-align: center;
}

td {
	padding: 5px 5px;
	font-family: "Lucida Console", Monospace;
	border: thin solid;
	border-color: #000;
}

th {
	-webkit-background: linear-gradient(#333, #555);
	background: linear-gradient(#333, #555);
	color: #ddd;
	font-family: "Lucinda Console", Monospace;
	font-size: 20px
}

th:first-child {
	-webkit-border-radius: 10px 0px 0px 0px;
	border-radius: 10px 0px 0px 0px;
}

th:last-child {
	-webkit-border-radius: 0px 10px 0px 0px;
	border-radius: 0px 10px 0px 0px;
}

tr:nth-child(even) {
	background-color: #333;
	color: #fff;
}

tr:last-child td:first-child {
	-webkit-border-radius: 0px 0px 0px 10px;
	border-radius: 0px 0px 0px 10px;
}

tr:last-child td:last-child {
	-webkit-border-radius: 0px 0px 10px 0px;
	border-radius: 0px 0px 10px 0px;
}

tr:not(:first-child) {
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
	-webkit-opacity: .7;
	opacity: .7;
}

tr:hover {
	-webkit-opacity: 1.0;
	opacity: 1.0;
}




/* LARGE SCREEN SECTION */

@media (min-width: 650px) {

	body {
		font-size: .9rem;
	}

	main {
		width: 80%;
	}

	.main_div {
		display: inline-block;
		width: 70%;
		margin: 0 auto;
	}

	.aside_div {
		display: inline-block;
		width: 29%;
		vertical-align: top;
	}

	#intro_text {
		width: 99%;
	}

	#other_text {
		width: 99%;
	}

	#sidebar_text {
		font-size: .6rem;
	}

	.collapsible {
		display: block;
	}

	.icon_bar {
		display: none;
	}
	

	/*Navigation Bar Section FOR LARGE SCREEN*/

	.collapsible a {
		display:inline-block;
		float: left;
	    text-align: center;
	    text-decoration: none;
	}

	.collapsible a:last-child {display: none;}

	.collapsible a:not(:last-child) {display: inline-block;}

	/* Navigation Bar Section FOR LARGE SCREEN END*/


	footer div {
	    display: table;
	    text-align: center;
	    margin-left: auto;
	    margin-right: auto;
	    font-size: .5rem;
	}

	.gal_img {
		border: 2px solid #000;
		border-radius: 4px;
		padding: 5px;
		width: 100%;
		margin: 0 auto;
		margin-bottom: 2px;
	}

	.gal_div {
		width: 99%;
	}

	.figbox {
		display: inline-block;
		width: 34%;
	}

	.left_div{
		display: inline-block;
		width: 84%;
		vertical-align: top;
	}

	.right_imgs {
		display: inline-block;
		width: 15%;
	}

	.right_div {
		display: inline-block;
		width: 84%;
		vertical-align: top;
	}

	.left_imgs {
		display: inline-block;
		width: 15%;
	}

}
